html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
a{text-decoration: none;color:#fff;}
body {
	line-height: 1;
	font:13px Tahoma;
	background: #e0e0e0
}
h1,h2,h3{font-weight: normal}
#center{
	width: 775px;
	margin:auto;
	text-align: center
}
#top{
	width: 100%;
	background: url('top.jpg');
	background-size: cover;
	height:360px;
}
#top h1,#top p{
	background: rgba(255,255,255,.2);
	color:#fff;
	padding:15px;
	position: relative;
	top:40px;
}
#top p{
	margin-top: 10px
}
#img{
	width: 890px;
	height:740px;
	background: url('app.png');
	margin:auto;
	position: relative;
	margin-top: -200px
}
#work{
	margin-top:10px;
	margin-bottom:50px;
}
#work #center{
	box-shadow: 0px 0px 70px #444;
	border-radius: 4px;
	overflow: hidden;
}
#work h3{
	background: #f1f1f1;
	padding:10px;
}
#work code{
	background: #252525;
	color:#fff;
	display: block;
	padding:5px 10px;
	text-align: left
}
#work code:nth-child(2n+1){
	background: #333
}
#download h2 {
	background: #252525;
	padding: 10px;
	box-shadow: 0px 0px 70px #444;
	border-radius:4px;
	margin-bottom:30px;
}
#download{
	margin-top: 20px;
	margin-bottom:5%;
}